<div class="container">

  <h1>Stupid Coaching</h1>


  <div class="col-6">

     <div class="card-body border-light alert alert-secondary" role="alert">
      <blockquote class="blockstyle">
        <p><%= @question %></p>
        <footer class="blockquote-footer">You</footer>
      </blockquote>
    </div>

    <div class="card-body border">
      <blockquote class="blockstyle">
        <p>
          <% if @question[-1] == "?" %>
          Silly question, get dressed and go to work!
          <% elsif @question == "I am going to work" %>
          Great!
          <% else %>
          I don't care, get dressed and go to work!
          <% end %>
        </p>
        <footer class="blockquote-footer">Your coach</footer>
      </blockquote>
    </div>

  <br>

  <%= link_to "Ask a new question", ask_path, class:"text-decoration-none" %>

</div>
