<div class="container">
  <h1>Stupid coaching 🚀</h1>

  Ask your coach for anything

  <div class="col-6">
  <form action="/answer">
    <div class="input-group mb-3">
      <input type="text" name="question" placeholder="Type your question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
  </div>
</div>


